header{
    background: #BBB;
    padding: 20px 0;
}

.container{
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.nav li{
    display: inline;
    margin-left: 15px;
}

.nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: #000;
}

.produtos{
    margin: 0 auto;
    width: 940px;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000 2px solid;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:hover h2{
    font-size: 40px;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.descricao{
    font-size: 18px;
}

footer{
    text-align: center;
    background-image: url(bg.jpg);
    padding: 40px 0;
}

.copyright{
    color: #fff;
    font-size: 13px;
    margin: 20px 0;
}